title { text-transform: uppercase; text-align: center; font-size: 200%; color:darkgreen }
h1 { text-transform: captialize; text-align: center; font-size: 150%; color:blue }
p.important { border-style: solid; border-width: 10px; border-color:green }
p #first{ text-align: left; font-size: 100%; color:black }
p #second{ text-align: left; font-size: 100%; color:black }
h2 { text-align: center; font-size: 150%; color:darkgreen }
ol { text-align: center; font-size: 100%; color: maroon }
.classname:link { text-align: right; font-size: 125%; color: gray }
p #third{ text-align: center; font-size: 125%; color: darkblue }
table, th, td { border: 1px solid; font-family: 'Times New Roman', Times, serif; text-align: center; color: darkslategray } 